
/* Top Elements */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Color Pallete */

:root {
    --primary-color: rgb(252, 163, 17);
    --secondary-color: rgb(20, 33, 61);
    --light-middle-color: rgb(184, 184, 184);
    --dark-middle-color: rgb(51, 51 ,51);
    --dark-bg-color: rgb(10, 10, 10);
    --light-bg-color: rgb(224, 224, 224);
    --dark-text: rgb(255, 255, 255);
    --light-text: rgb(0, 0, 0);

}

html {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light-text);
    font: 20px "Courier New", Courier, monospace;
    height: 100%;
    margin: 0;
    background: var(--light-bg-color)
}

body {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: .5rem;
}


/* Link Navigation Pane */

nav {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    min-width: 24rem;
    padding: 1rem 1rem;
    background: var(--light-middle-color);
    border: none;
    border-radius: 10px;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

section {
    display: flex;
    align-items: center;
    padding: 1rem 1rem;
    background: var(--light-middle-color);
    border: none;
    border-radius: 10px;
}

/* Time */
#box-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}

#time {
    font-size: 2rem;
    font-weight: bold;
}

/* Duck Duck Go Search Bar */

form {
    display: flex;
    flex-direction: row;
    width: 100%;
}

form label {
    color: var(--primary-color);
    padding: 0 .1rem;
}

form input {
    background: inherit;
    border: none;
    font: inherit;
    width: 100%;
}

form input:focus {
    outline: none;
}  

form input::placeholder {
    opacity: 1;
}

form:focus-within input::placeholder {
    opacity: 0;
}

/* Text Elements */

h1 {
    font-size: 2rem;
    grid-column: 1 / -1;
    margin: 0;
    text-align: center;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

li:first-child {
    font-weight: bold;
    line-height: 2rem;
    text-transform: uppercase;
}